
html,
body {
    font-family: "Comic Sans MS", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #15154f;
}
#map {
    height: 100%;
    position: relative;
}

.options-box {
    background: transparent;
    border-radius: 10px;
    width: 500px;
    z-index: 1;
    position: fixed;
    bottom: 20px;
    left: 10px;
    text-align: left;

}
.select_style{
    display: inline-block;
    overflow: hidden;
    width: 200px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px 1px 11px #330033;
    background: #58B14C ;
    margin-left: 10px;
}
.select_style select{
    border: 0;
    color: #EEE;
    background: transparent;
    font-size: 20px;
    padding: 2px 10px;
    width: 200px;
    -webkit-appearance: none;
    margin-left: 11px;
}
.heading{
    display: inline-block;
    color: white;
    text-align: justify;

}
